$color-main:#008EF0;

.margin20{
  margin: 20px 0;
}

.margin15{
  margin: 15px 0;
}

.margin10{
  margin: 10px 0;
}

.card{
  border: 1px solid darken(#EEEEEE,8%);
  margin-bottom: 30px;
  padding: 10px 20px;
  &:hover{
    box-shadow: 5px 5px 3px darken(#EEEEEE,2%);
  }
}



.text{
  margin: 10px 0;
  font-size: 14px;
}